<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <script src="{% static "js/jquery.js" %}"></script>
    <link  href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <script src="{% static "scripts/ajax.js" %}"></script>
    <title>
        
        {% block title %}
            
        {% endblock title %}
            
    </title>
    <body>
        <a href="{% url 'index' %}"> Домой</a>
        {% if user.is_authenticated %}
            Привет, {{ user.username }}!
            <a href="{% url 'create_phone' %}">Добавить телефон</a>
            <a href="{% url 'create_brand' %}">Добавить производителя</a> 
            <a href="{% url 'log_out' %}">Выход</a>
        {% else %}
            <a href="{% url 'sign_up' %}">Регистрация</a>
            <a href="{% url 'sign_in' %}">Войти</a>
        {% endif %}<br>
        <input class="form-control me-2" type="search" placeholder="Поиск по статьям" 
        aria-label="Search" id="search_bar">
        <div class="container"  id="search_list">
        </div>
        {% block content %}
            
        {% endblock content %}
            
    </body>
</html>